* {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: white;
  background-color: black;
}

.title {
  font-size: x-large;
  padding: 25px 0 25px 0;
}

.profilePhoto {
  padding: 10px;
}

.profilePhoto img {
  max-width: 200px;
}

.links {
  padding-top: 15px;
}

.link {
  padding: 5px;
}
