* {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: white;
  background-color: black;
}

.container {
  padding-top: 50px;
}

.profilePhoto {
  padding: 10px;
}

.profilePhoto img {
  max-width: 200px;
}
